{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <img src="{{ asset('assets/img/php-elephant-logo-bd4f9d83be8c8563248fe4793f90bae7.png') }}" alt="php">
        </div>
    </div>
{% endblock %}
